.nav-link {
  color: white !important;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #007bff !important;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
}

.clicked {
  color: #007bff !important;
}
